<footer>
        <p><a href="https://github.com/SamRMath" target="_blank">GitHub</a>
        ~ <a href="https://webpages.charlotte.edu/smathe17/" target="_blank">CLT Web</a>
        ~ <a href="https://samrmath.github.io/" target="_blank">GitHub.io</a>
        ~ <a href="https://www.linkedin.com/in/samrmathews/" target="_blank">LinkedIn</a>
        ~ <a href="https://www.freecodecamp.org/sam_mathews_uncc_801438211" target="_blank">freeCodeCamp</a>
        ~ <a href="https://www.codecademy.com/profiles/samrmath00" target="_blank">Codecademy</a>
        </p>
        <br>
        <p>Designed by: <a href="mathewsunlimited.com/index.html" target="_blank">Mathews Unlimited</a></p>
    </footer>