<header>
    <h1>Sam Mathews' Sleepy Mammoth | ITIS-3135</h1>
    <p>
        <a id="link-home">ITIS-3135</a>
        ~ <a id="link-intro">Introduction</a>
        ~ <a id="link-contract">Contract</a>
    </p>
    <script>
      const currentSite = window.location.hostname;
      let basePath = "/itis3135/";

      if (currentSite.includes("webpages.charlotte.edu")) {
        basePath = "/smathe17/itis3135/";
      }

      document.getElementById("link-home").href = basePath + "index.html";
      document.getElementById("link-contract").href = basePath + "pages/contract.html";
      document.getElementById("link-intro").href = basePath + "pages/intro.html";
    </script>
</header>